@model WebApplication1.Models.Entitiy.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı:</label>
        <input type="text" class="form-control" name="URUNAD" />
    </div>

    <div>
        <label>Markası:</label>
        <input type="text" class="form-control" name="MARKA" />
    </div>

    <div>
        <label>Kategori Seçin:</label>
     @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr, new{ @class="form-control"})
    </div>

    <div>
        <label>Fiyatı:</label>
        <input type="text" class="form-control" name="Fiyat" />
    </div>

    <div>
        <label>Stok Durumu:</label>
        <input type="text" class="form-control" name="STOK" />
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>

    </div>

</form>


